<div class="card">
  <form>
    <div class="card-header">
      Combine Video
      <button type="button" class="btn btn-primary btn-sm add-video float-right">ADD VIDEO</button>
    </div>
    <div class="card-body">

      <div class="form-group">
        <label for="combine-video-1">Video Link</label>
        <div class="input-group">
          <input type="text" id="combine-video-1" class="form-control combine-video-1" placeholder="Video Link" style="width: 60%;">
          <input type="number" class="form-control combine-video-range-duration-start-1" placeholder="Start at">
          <input type="number" class="form-control combine-video-range-duration-end-1" placeholder="End at">
          <button type="button" class="btn btn-danger delete-combine-video-range-duration-1 ml-2">DELETE</button>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <div class="form-group">
            <label for="video-height">Video Height</label>
            <input type="number" id="video-height" class="form-control video-height" placeholder="Video Height">
          </div>
        </div>

        <div class="col">
          <div class="form-group">
            <label for="video-width">Video Width</label>
            <input type="number" id="video-width" class="form-control video-width" placeholder="Video Width">
          </div>
        </div>
      </div>

    </div>
    <div class="card-footer text-muted">
      <button type="submit" class="btn btn-primary combine-video">COMBINE VIDEO(S)</button>
    </div>
  </form>
</div>
